{% extends '_base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Homepage</h1>
<p><img class="bookcover" src="{% static 'images/django.png' %}"></p>

<a href="/api/">RESTful API</a>
<hr/>

{% if user.is_authenticated %}
    <p>Hi {{ user.email }}!</p>
    <p><a href="{% url 'account_change_password' %}">Change Password</a></p>
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
    <p>You are not logged in</p>
    <a href="{% url 'account_login' %}">Log In</a> |
    <a href="{% url 'account_signup' %}">Sign Up</a> |
    <a href="{% provider_login_url 'github' %}">Sig Up with GitHub</a>
{% endif %}
{% endblock content %}